# Deliverable 2

In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine.csv")

In [3]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [4]:
vine_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4864244,R1UP8F8Y4GC3IE,4.0,0.0,1.0,N,N
4864245,R3K9ZYANG0OFJB,5.0,7.0,7.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N
4864247,R13AWVNEKSY9M1,5.0,5.0,5.0,N,N
4864248,R1HN7EVNEN51LR,4.0,2.0,7.0,N,N

In [5]:
#1. create df where total votes are greater than or equal to 20.0
vine_filtered = vine_df.loc[vine_df["total_votes"] >= 20.0]

In [6]:
vine_filtered.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [7]:
# 2. create new df where helpful votes divided by total votes has a remainder of 50%
# 2a. filter df and create a new column to hold the result
vine_filtered["result"] = (vine_filtered["helpful_votes"]/vine_filtered["total_votes"]*100).round(1)

/Users/laurenerminina/opt/anaconda3/envs/PythonData/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
vine_filtered.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,85.2
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,100.0
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,95.0
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,72.8
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,95.7

In [9]:
#2b. create new df where result of 2a is 50% or more
final_vine = vine_filtered.loc[vine_filtered["result"]>=50.0]

In [10]:
final_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,85.2
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,100.0
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,95.0
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,72.8
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,95.7

# Steps 3 to 5: create two dataframes and run calculations

## steps 3 to 5 on dataset of paid Vine reviews

In [11]:
#3 - create a new df to show paid reviews
paid_vine = final_vine.loc[final_vine["vine"]=="Y"]
paid_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,95.0
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,95.7
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N,100.0
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N,92.6
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N,87.5

In [12]:
#5a. calculate the total number of reviews in the paid reviews (paid_vine) df
total_vine_paid = paid_vine["star_rating"].count()
print(f"There are a total of {total_vine_paid} paid Vine reviews")

There are a total of 1266 paid Vine reviews

In [37]:
#5b. part 1 - calculate the values of the star review column
five_star_paid = paid_vine["star_rating"].value_counts()
print("Summary of paid reviews:")
five_star_paid

Summary of paid reviews:

5.0    432
4.0    416
3.0    300
2.0     82
1.0     36
Name: star_rating, dtype: int64

In [34]:
#5b. calculate the number of five star reviews in the "paid_vine" df
count_paid = five_star_paid[5.0]

print(f"There are a total of {count_paid} paid five star reviews")

There are a total of 432 paid five star reviews

In [27]:
#5c the percentage of 5-star reviews for the two types of review (paid vs unpaid)
paid_percent = (count_paid/total_vine_paid * 100).round(2)

print(f"Paid five star reviews comprise {paid_percent}% of this dataset")

Paid five star reviews comprise 34.12% of this dataset

## steps 4 to 5 on dataset of paid reviews

In [16]:
#4 - create a new df to show unpaid reviews
unpaid_vine = final_vine.loc[final_vine["vine"]=="N"]
unpaid_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,result
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,85.2
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,100.0
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,72.8
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N,100.0
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y,100.0

In [17]:
#5a. calculate the total number of reviews in the paid reviews (unpaid_vine) df
total_vine_unpaid = unpaid_vine["star_rating"].count()
print(f"There are a total of {total_vine_unpaid} unpaid reviews")

There are a total of 62028 unpaid reviews

In [38]:
#5b. part 1 - calculate the values of the star review column
five_star_unpaid = unpaid_vine["star_rating"].value_counts()
print("Summary of unpaid reviews:")
five_star_unpaid

Summary of unpaid reviews:

5.0    29982
1.0    11014
4.0    10054
3.0     6310
2.0     4668
Name: star_rating, dtype: int64

In [19]:
#5b. calculate the number of five star reviews in the "unpaid_vine" df
count_unpaid = five_star_unpaid[5.0]
print(f"There are a total of {count_unpaid} unpaid five star reviews")

There are a total of 29982 unpaid five star reviews

In [26]:
#5c calculate the percentage of unpaid reviews on the unpaid_review df
unpaid_percent = (count_unpaid/total_vine_unpaid * 100).round(2)
print(f"Unpaid five star reviews comprise {unpaid_percent}% of this dataset")

Unpaid five star reviews comprise 48.34% of this dataset